# Node modules
node_modules/
.DS_Store
.DS_Store/


./engine/node_modules
./engine/dist
./engine/snapshot.json
./engine/coverage
./db/node_modules
./db/dist
./ws/node_modules
./ws/dist
./api/node_modules
./api/dist
./mm/node_modules
./mm/dist
./ws/dist
./frontend/node_modules
./frontend/.env